---
import Herramienta from "../herramientas/Herramienta.astro";
---

<section>
    <div class="bg-[#919FA7] bg-cover bg-center h-max relative z-0">
        <div
            class="bg-[url('./img/bg/bg-111.png')] min-h-screen w-full h-full bg-cover bg-center relative z-0"
            data-aos="fade-up"
            data-aos-duration="2000"
        >
            <div
                class="flex flex-col lg:flex-row w-full items-center p-4 md:p-8 lg:p-10 justify-between gap-8"
            >
                <div
                    class="w-full lg:w-fit grid justify-items-center"
                    data-aos="fade-right"
                    data-aos-duration="2000"
                >
                    <p
                        class="text-3xl md:text-5xl lg:text-6xl h-full flex justify-center font-extrabold text-white text-center"
                    >
                        Herramientas
                    </p>

                    <div
                        class="bg-none sm:bg-[#37393bc7] my-4 flex flex-col w-full max-w-xs md:max-w-md items-center justify-center rounded-3xl"
                    >
                        <div
                            class="items-center w-full py-4 md:py-6 flex justify-center"
                        >
                            <img
                                src="./img/gato.gif"
                                width="220"
                                class="rounded-2xl md:rounded-3xl w-[180px] md:w-[300px] lg:w-[350px]"
                            />
                        </div>
                        <p
                            class="font-mono text-justify text-base md:text-lg m-2 md:m-4 w-full max-w-[300px] md:max-w-[350px] text-white"
                        >
                            A lo largo de mi formación, he tenido la oportunidad
                            de sumergirme en diversas plataformas y dominar un
                            conjunto de herramientas de desarrollo
                            vanguardistas. Este conocimiento no se ha quedado en
                            la teoría; lo he aplicado activamente en la creación
                            de proyectos tangibles y funcionales.
                        </p>
                        <p
                            class="font-mono text-justify text-base md:text-xl m-2 md:m-4 w-full max-w-[300px] md:max-w-[350px] text-white"
                        >
                            Para el entorno de desarrollo tengo un dominio en
                            diferentes entornos de programación como lo son
                            JAVA, HTML, CSS, JavaScirpt, SQL ,entre otros.
                        </p>
                    </div>
                </div>
                <div
                    class="w-full lg:w-auto flex justify-center"
                    data-aos="fade-left"
                    data-aos-duration="2000"
                >
                    <Herramienta />
                </div>
            </div>
        </div>
    </div>
</section>
