---
import { herramientas } from "../../data/herramientas.js";
---

<section class="p-4 rounded-xl">
    {
        herramientas.map((herramienta) => (
            <div>
                <div class="bg-[#37393bc7] my-3 rounded-3xl">
                    <h2 class="m-4 pt-4 text-2xl md:text-4xl font-bold text-white">
                        {herramienta.titulo}
                    </h2>
                    <div class="flex flex-wrap items-center justify-center text-center gap-4 px-2 pb-4">
                        {herramienta.tipos.map((tipo) => (
                            <div class="herramienta herramienta-con-sombra bg-gray-300 rounded-lg w-20 h-28 md:w-24 md:h-32 m-2 p-2 flex flex-col justify-center items-center text-center transition-transform duration-300 hover:scale-105 hover:shadow-lg">
                                <img
                                    src={tipo.img}
                                    alt={tipo.nombre}
                                    class="w-3/4 h-auto object-cover mb-2"
                                />
                                <p class="text-xs md:text-sm">
                                    {tipo.herramienta}
                                </p>
                            </div>
                        ))}
                    </div>
                </div>
            </div>
        ))
    }
</section>
