---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="contenedor">
        <h2>Más Informacion de los proyectos</h2>
        <div class="cont">
            <div>
                <img src="/img/PeridotG.png" />
            </div>
            <div class="text">
                <h4>Ups...</h4>
                <p>
                    ¡Aguas, terrícolas cibernéticos! Nos encontramos en las
                    mismísimas fronteras de la incertidumbre digital. Los
                    archivos ancestrales de este proyecto, cual tesoro escondido
                    en una isla remota del internet, ¡aún no han sido
                    desenterrados por nuestros esforzados arqueólogos de la
                    información! Se rumora que duermen el sueño de los justos en
                    servidores lejanos, custodiados por dragones de código y
                    laberintos de protocolos. Pero no desesperéis, valientes
                    navegantes de la web, ¡la búsqueda continúa! Tan pronto como
                    crucemos las tormentas de datos y escalemos las montañas de
                    metadatos, ¡la historia completa de esta majestuosa empresa
                    será revelada ante vuestros ávidos ojos!
                </p>
            </div>
        </div>
    </div>
    <style>
        .contenedor {
            color: #f8f8f2;
            background-color: #444444;
            margin: 1%;
            padding: 1%;
            border-radius: 15px;
            display: block;
        }
        img {
            width: 80%;
            margin-right: 0;
        }
        div {
            margin: 1.5%;
            display: flex;
        }
        h4 {
            font-size: xx-large;
            margin: 0%;
        }
        .cont {
            background-color: #c4c4c4;
            border-radius: 15px;
        }
        .text {
            background-color: #b2b1b1;
            color: #444444;
            display: block;
            padding: 1%;
            border-radius: 5px;
            margin-left: 0;
            width: 90%;
        }
    </style>
</Layout>
