---
import DescargaCV from "./DescargaCV.astro";
---

<main>
    <div class="contenedor">
        <h1>JOSE ISAAC VELAZQUEZ MARTINEZ</h1>
        <h2>Desarrollador de Software Multiplataforma</h2>

        <div class="info">
            Actualmente Estudiando la Ingenieria de Tecnol칩gias de la
            Informacion con especialidad en Desarrollo de Software
            Multiplataforma en la Universidad Tecnologica de Le칩n
            <br />
            <div class="info-2">
                Tengo una Formacion Tecnica Superior Univeristaria en una gran
                variedad de herramientas con experiecia acedemica formatva en
                diferentes proyectos de Desarrollo
            </div>
        </div>
        <div></div>

        <div class="info" style="text-align: center;"></div>
        <div class="contactos">
            <div class="contacto-div animacion-iconos">
                <a
                    class="iconos-a"
                    href="https://www.instagram.com/zac_universe_?utm_source=qr&igsh=cml2ajg5cDRmcmps"
                    target="_blank"
                >
                    <svg
                        class="contacto-icon"
                        role="img"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        ><title>Instagram</title><path
                            d="M7.0301.084c-1.2768.0602-2.1487.264-2.911.5634-.7888.3075-1.4575.72-2.1228 1.3877-.6652.6677-1.075 1.3368-1.3802 2.127-.2954.7638-.4956 1.6365-.552 2.914-.0564 1.2775-.0689 1.6882-.0626 4.947.0062 3.2586.0206 3.6671.0825 4.9473.061 1.2765.264 2.1482.5635 2.9107.308.7889.72 1.4573 1.388 2.1228.6679.6655 1.3365 1.0743 2.1285 1.38.7632.295 1.6361.4961 2.9134.552 1.2773.056 1.6884.069 4.9462.0627 3.2578-.0062 3.668-.0207 4.9478-.0814 1.28-.0607 2.147-.2652 2.9098-.5633.7889-.3086 1.4578-.72 2.1228-1.3881.665-.6682 1.0745-1.3378 1.3795-2.1284.2957-.7632.4966-1.636.552-2.9124.056-1.2809.0692-1.6898.063-4.948-.0063-3.2583-.021-3.6668-.0817-4.9465-.0607-1.2797-.264-2.1487-.5633-2.9117-.3084-.7889-.72-1.4568-1.3876-2.1228C21.2982 1.33 20.628.9208 19.8378.6165 19.074.321 18.2017.1197 16.9244.0645 15.6471.0093 15.236-.005 11.977.0014 8.718.0076 8.31.0215 7.0301.0839m.1402 21.6932c-1.17-.0509-1.8053-.2453-2.2287-.408-.5606-.216-.96-.4771-1.3819-.895-.422-.4178-.6811-.8186-.9-1.378-.1644-.4234-.3624-1.058-.4171-2.228-.0595-1.2645-.072-1.6442-.079-4.848-.007-3.2037.0053-3.583.0607-4.848.05-1.169.2456-1.805.408-2.2282.216-.5613.4762-.96.895-1.3816.4188-.4217.8184-.6814 1.3783-.9003.423-.1651 1.0575-.3614 2.227-.4171 1.2655-.06 1.6447-.072 4.848-.079 3.2033-.007 3.5835.005 4.8495.0608 1.169.0508 1.8053.2445 2.228.408.5608.216.96.4754 1.3816.895.4217.4194.6816.8176.9005 1.3787.1653.4217.3617 1.056.4169 2.2263.0602 1.2655.0739 1.645.0796 4.848.0058 3.203-.0055 3.5834-.061 4.848-.051 1.17-.245 1.8055-.408 2.2294-.216.5604-.4763.96-.8954 1.3814-.419.4215-.8181.6811-1.3783.9-.4224.1649-1.0577.3617-2.2262.4174-1.2656.0595-1.6448.072-4.8493.079-3.2045.007-3.5825-.006-4.848-.0608M16.953 5.5864A1.44 1.44 0 1 0 18.39 4.144a1.44 1.44 0 0 0-1.437 1.4424M5.8385 12.012c.0067 3.4032 2.7706 6.1557 6.173 6.1493 3.4026-.0065 6.157-2.7701 6.1506-6.1733-.0065-3.4032-2.771-6.1565-6.174-6.1498-3.403.0067-6.156 2.771-6.1496 6.1738M8 12.0077a4 4 0 1 1 4.008 3.9921A3.9996 3.9996 0 0 1 8 12.0077"
                        ></path>
                    </svg>
                    Instagram
                </a>
            </div>

            <div class="contacto-div animacion-iconos">
                <a
                    class="iconos-a"
                    href="https://github.com/JIsaacVM"
                    target="_blank"
                >
                    <svg
                        class="contacto-icon"
                        role="img"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        ><title>GitHub</title><path
                            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                        ></path></svg
                    >
                    <p>GitHub</p>
                </a>
            </div>
        </div>
        <div class="div-cv">
            <DescargaCV />
            <p>Descarga el CV</p>
        </div>
        <div>
            <a class="return" href="/" class="botonregresar">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="regresamos"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
                </svg>
            </a>
        </div>
    </div>
</main>

<style>
    main {
        background-color: black;
        color: aliceblue;
    }
    .contenedor {
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        border: 3px solid white;
        background-image: url("/img/thumb-1920-963410.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1 {
        font-family: "Courier New", Courier, monospace;
    }
    h2 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .regresamos {
        width: 5%;
        height: 5%;
    }
    .botonregresar {
        color: aliceblue;
    }

    .contactos {
        text-align: center;
        margin-top: 20px;
    }
    .info {
        width: 35%;
    }
    .contacto-icon {
        stroke: aliceblue;
        color: aliceblue;
        margin-right: 10px;
        width: 3%;
        height: 3%;
        gap: 0%;
        margin: 0%;
    }

    .contacto-div {
        padding-left: 50px;
        align-items: center;
        display: flex;
        height: auto;
        width: 50%;
    }
    .iconos-a {
        text-decoration: none;
        color: aliceblue;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    a {
        width: 100%;
        height: 100%;
    }
    svg {
        width: 40px;
        height: 40px;
        padding-right: 10px;
    }
    .div-cv > p {
        display: none;
    }
    .div-cv {
        padding-right: 100px;
        display: flex;
        justify-content: flex-end;
    }
    .info-2 {
        padding-left: 20px;
        padding-top: 5px;
    }
    .animacion-iconos {
        transform: scale(1);
        transition: transform 0.3s ease-in-out; /* Transici칩n suave para la propiedad box-shadow */
    }

    .animacion-iconos:hover {
        transform: scale(1.05);
        transition:
            transform 0.3s ease,
            filter 0.3s ease;
    }

    .animacion-iconos:hover a,
    .animacion-iconos:hover svg {
        transform: scale(1.0005);
        filter: brightness(1);
        stroke: #5d735a;
        color: #5d735a;
        transition:
            transform 0.3s ease-in-out,
            filter 0.3s ease-in-out,
            stroke 0.3s ease-in-out,
            color 0.3s ease-in-out; /* A침ade transiciones para todas las propiedades */
    }
    .return {
        color: aliceblue;
        text-decoration: none;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
    }
    .return :hover {
        transform: scale(1.2);
        transition:
            transform 0.3s ease,
            filter 0.3s ease;
    }
    @media screen and (max-width: 768px) {
        .info {
            width: 65%;
        }
        h1,
        h2 {
            width: 65%;
        }
        .div-cv {
            align-items: center;
            display: contents;
        }
        .div-cv > p {
            display: inline;
        }
        .regresamos {
            width: 10%;
            height: 10%;
        }
    }
    @media screen and (max-width: 630px) {
        .info {
            width: 90%;
        }
        .regresamos {
            width: 10%;
        }
        h1,
        h2 {
            width: 90%;
        }
        .div-cv {
            display: block;
        }
        .div-cv > p {
            display: inline;
        }
        .regresamos {
            width: 15%;
            height: 15%;
        }
    }
    @media screen and (max-width: 425px) {
        .info {
            width: 100%;
        }
        h1,
        h2 {
            width: 100%;
        }
        .regresamos {
            width: 20%;
            height: 20%;
        }
    }
</style>
