<div>
  <a href="/files/CV-José-Isaac-Velazquez-Martínez-IVM.pdf" target="_blank" >
      <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            
          Descarga CV   
      </div>
  </a>
</div>
<style>
  div {
    background-color: antiquewhite;
    border-radius: 5px;
    justify-content: center;
    align-items: center; /* Centramos verticalmente también */
    text-align: center;
    width: 170px;
    height: 45px;
    margin: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Añadimos transiciones */
    display: flex; /* Para alinear el contenido internamente */
    flex-direction: row; /* Alineamos icono y texto en fila */
    gap: 8px; /* Espacio entre icono y texto */
  }

section:hover {
  background-color: #d4a373; /* Un tono ligeramente más oscuro */
  transform: scale(1.05); /* Ligeramente más grande */
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Una sutil sombra */
}

div {
  padding: 10px;
  text-align: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex; /* Para alinear icono y texto dentro del div */
  flex-direction: row; /* Alineamos icono y texto en fila */
  gap: 8px; /* Espacio entre icono y texto */
}

svg {
  width: 20px;
  height: 20px;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Transición para el icono */
}

section:hover svg {
  transform: translateY(-3px); /* El icono se mueve ligeramente hacia arriba */
}

a {
  text-decoration: none;
  color: black;
  display: flex; /* Para que el 'a' ocupe todo el section y herede el comportamiento hover */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
</style>