---
import HabilidadDinamica from "./HabilidadDinamica.astro";
---

<section>
    <h1>Habilidades</h1>
    <div>
        Dentro de mi experiencia como Desarrollador de Software he adquirido
        diferentes habilidades de las cuales mi dominio en cada habilidad es
        diferente entre si pero de igual forma manejo un dominio intermedio
        dedichas herramientas y habilidades
    </div>
    <HabilidadDinamica />
</section>
<style>
    section {
        background-color: #a6a6a6;
        padding: 20px;
        margin: 40px;
        border-radius: 15px;
    }
</style>
