---
import HabilidadDinamica from "./HabilidadDinamica.astro";
---

<section>
    <h1>Habilidades</h1>
    <HabilidadDinamica />
</section>
<style>
    section {
        background-color: #96a694;
        padding: 20px;
        margin: 40px;
        border-radius: 15px;
    }
</style>
