---
import Herramienta from "./Herramienta.astro";
---

<section>
    <div class="titulo">
        <div class="div-t">
            <h1>Herramientas de Trabajo</h1>
            <p>
                A lo largo de mi formación, he tenido la oportunidad de
                sumergirme en diversas plataformas y dominar un conjunto de
                herramientas de desarrollo vanguardistas. Este conocimiento no
                se ha quedado en la teoría; lo he aplicado activamente en la
                creación de proyectos tangibles y funcionales.
            </p>
            <p>
                En mis capacidades adquiridas durante mi formación son manejo de
                diferentes sistemas operativos entre los cuales destacan Windows
                y Ubuntu Linux. PAra el desrrollo de software de calidad utilizo
                diferentes herramientas entre las cuales destacan Apache
                NetBeans,Visual Studio COde,MySQL Workbench, MongoDB Compass,
                IntelliJIDEA, Android Studio. Ademas de mi formación en
                desarrollo de software manejo diferentes programas de edición,
                documentación, y modelaje para softwares y material grafico.
            </p>
            <p>
                Para el entorno de desarrollo tengo un dominio en diferentes
                lenguajes de programación como lo son JAVA, HTML, CSS,
                JavaScirpt, SQL ,entre otros.
            </p>
        </div>
        <div class="imagen">
            <img
                transition:name="peridot1"
                class="peridot"
                src="/img/PeridotG.png"
            />
        </div>
    </div>

    <br />
    <Herramienta />
</section>
<style>
    section {
        margin: 1%;
        padding: 1%;
    }
    h2 {
        font-size: 25px;
        border-bottom: solid #262626;
        margin-bottom: 5px;
    }
    h1 {
        font-size: 35px;

        margin-bottom: 5px;
        border-bottom: solid #262626;
    }
    section p {
        margin-top: 5px;
        padding-left: 15px;
    }
    .titulo {
        padding: 15px;
        background-color: #a6a6a6;
        display: flex;
        padding: 15px;
        padding-top: 5px;
        border-radius: 10px;
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Sombra inicial transparente */
        transition: box-shadow 0.3s ease-in-out;
        transition: scale 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out; /* Transición suave para la propiedad box-shadow */
    }
    .peridot {
        padding: 15px;
        margin-left: 50px;
        width: 70%;
    }
    .div-t {
        width: 70%;
    }
    @media screen and (max-width: 785px) {
        .div-t {
            width: 100%;
        }
        .imagen {
            display: none;
        }
    }
</style>
