---
import DescargaCV from "./DescargaCV.astro";
import MyModal from "./shared/MyModal.astro";
---

<header>
    <nav
        class="flex justify-between items-center w-full max-w-screen-xl mx-auto"
    >
        <a
            href="/"
            class="flex items-center gap-2 text-white hover:text-blue-300 transition-colors"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-8"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z"
                ></path>
            </svg>
            <p class="text-xl font-bold text-title">Zac Universe</p>
        </a>
        <div class="nav-derecha flex items-center gap-7">
            <MyModal />
            <DescargaCV class="DescargaCV" />
        </div>
    </nav>
</header>
<style>
    svg {
        width: 40px;
        height: 40px;
    }
    header {
        display: flex;
        background-color: #9ebdd0;
    }

    nav,
    a,
    li,
    ul {
        display: flex;
        padding: 5px;
        align-items: center;
        gap: 10px;
    }
    ul {
        color: slategrey;
        gap: 50px;
        align-content: end;
    }

    p {
        padding-right: 40px;
    }
    nav {
        justify-content: space-between;
        width: 90%;
        transition:
            color 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    a {
        text-decoration: none;

        color: aliceblue;
        padding-left: 20px;
        transition:
            color 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    .navL {
        font-size: large;
    }
    header nav a:hover {
        color: #919fa7;
        transform: scale(1.05);
    }
    header nav ul li a .navL {
        transition: color 0.3s ease-in-out;
    }

    header nav ul li a .navL:hover {
        color: a8dcbf;
    }

    header nav a svg {
        transition: transform 0.3s ease-in-out;
    }

    header nav a:hover svg {
        transform: rotate(10deg);
    }
    .nav-derecha {
        display: flex;
        gap: 0px;
        padding: 0px;
        margin: 0px;
    }
    @media screen and (max-width: 794px) {
        /* Adjust styles for smaller screens */
        .text {
            display: none;
        }
    }
    @media screen and (max-width: 425px) {
        /* Adjust styles for smaller screens */
        .text-title {
            display: none;
        }
    }
</style>
