---
import { changeLanguage } from "i18next";
changeLanguage("es");
import { t } from "i18next";
---

<main>
    <div class="contenedor">
        <div>
            <p class="minombre">Yo soy Isaac Velazquez</p>
            <p class="micarrera">
                Ingeniero en Desarrollo de Software en proceso
            </p>
            <p>
                Hola, Me presento soy Jose Isaac Velazquez Martinez, Programador
                en proceso de formacion. Un gusto que estes aqui checando mi
                portafolio, Espero y les guste.
            </p>
        </div>
        <a href="herramientas">
            <img
                transition:name="peridot1"
                class="peridot"
                src="/img/PeridotG.png"
                alt="Isaac"
            />
        </a>
    </div>
</main>
<style>
    main {
        margin: 5%;
        margin-top: 1%;
        padding: 5%;
        width: fit-content;
        border-radius: 15px;
    }
    .contenedor {
        background-color: #2e2e2e;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .minombre {
        font-size: medium;
    }

    .micarrera {
        color: #6a5acd;
        font-size: xx-large;
    }

    .contacto {
        background-color: black;
        font-size: large;
        color: azure;
        width: 150px;
        height: 50px;
        border-radius: 20px;
    }
    p {
        color: aliceblue;
        font-family: "Courier New";
        margin: 1%;
        font-weight: bold;
    }

    .peridot {
        width: 20rem;
        height: auto;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
    }

    .peridot:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 10px rgb(0, 0, 0); /* Sombra que aparece al hacer hover */
    }
    @media screen and (max-width: 768px) {
        .contenedor {
            display: flow-root;
            align-items: center;
        }
        .peridot {
            display: none;
        }
    }
</style>
