<main>
    <div class="contenedor">
        <div>
            <p class="minombre"> Mi nombre es Isaac Velzquez</p>
            <p class="micarrera"> Ingeniero en Desarrollo de Software en proceso</p>
            <p>
            Hola, Me presento soy Jose Isaac Velazquez Martinez, Programador en proceso de formacion. Un gusto que estes aqui checando mi portafolio, Espero y les guste. 
            </p>
        </div>
        <img  class="peridotg"src="src/assets/PeridotG.png" alt="Isaac">
    </div>
</main>
<style>
    .contenedor {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 25px;
        width: 60%;
    }
    
    .minombre {
        font-size: medium;
        font-famliy:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

    }
    
    .micarrera {
        font-size: xx-large;
        font-famliy:Impact, Haettenschwelier, 'Arial Narrow Bold', sans-serif
    }
    .peridotg{
        width: 70%;
        height: 70%;
        border-radius: 20px;
    }
    .contacto{
        background-color:black;
        font-size: large;
        color: azure;
        width: 150px;
        height: 50px;
        border-radius: 20px;
    }
    p{
        color: whitesmoke;
    }

</style>
