<main>
    <div class="contenedor">
        <div>
            <p class="minombre"> Mi nombre es Isaac Velzquez</p>
            <p class="micarrera"> Ingeniero en Desarrollo de Software en proceso</p>
            <p>
            Hola, Me presento soy Jose Isaac Velazquez Martinez, Programador en proceso de formacion. Un gusto que estes aqui checando mi portafolio, Espero y les guste. 
            </p>
        </div>
        <img  class="peridotg elemento-con-sombra"src="src/assets/PeridotG.png" alt="Isaac">
    </div>
</main>
<style>
    .contenedor {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 25px;
        width: 60%;
    }
    
    .minombre {
        font-size: medium;
        font-famliy:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

    }
    
    .micarrera {
        font-size: xx-large;
        font-famliy:Impact, Haettenschwelier, 'Arial Narrow Bold', sans-serif
    }
    .peridotg{
        width: 70%;
        height: 70%;
        border-radius: 100%;
    }
    .contacto{
        background-color:black;
        font-size: large;
        color: azure;
        width: 150px;
        height: 50px;
        border-radius: 20px;
    }
    p{
        color: whitesmoke;
    }

    .elemento-con-sombra {
  /* Estilos base del elemento (puedes adaptarlos a tus necesidades) */
  border-radius: 100%;
  transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Sombra inicial transparente */
  transition: box-shadow 0.3s ease-in-out; /* Transición suave para la propiedad box-shadow */
}

.elemento-con-sombra:hover {
  transform:scale(1.05);
  box-shadow: 10px 10px 10px rgb(0, 0, 0); /* Sombra que aparece al hacer hover */
}

</style>
