<main>
    <div class="contenedor">
        <div>
            <p class="minombre">Mi nombre es Isaac Velzquez</p>
            <p class="micarrera">
                Ingeniero en Desarrollo de Software en proceso
            </p>
            <p>
                Hola, Me presento soy Jose Isaac Velazquez Martinez, Programador
                en proceso de formacion. Un gusto que estes aqui checando mi
                portafolio, Espero y les guste.
            </p>
        </div>
        <a href="herramientas">
            <img
                transition:name="peridot1"
                class="elemento-con-sombra"
                src="/img/PeridotG.png"
                alt="Isaac"
            />
            </a>
    </div>
</main>
<style>

    .contenedor {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 25px;
        width: 60%;
    }

    .minombre {
        font-size: medium;
        font-famliy: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .micarrera {
        font-size: xx-large;
        font-famliy: Impact, Haettenschwelier, "Arial Narrow Bold", sans-serif;
    }
    
    .contacto {
        background-color: black;
        font-size: large;
        color: azure;
        width: 150px;
        height: 50px;
        border-radius: 20px;
    }
    p {
        color: whitesmoke;
    }

    .elemento-con-sombra {
        /* Estilos base del elemento (puedes adaptarlos a tus necesidades) */
        width: 100%;
        height:    100%;
        border-radius: 100%;/* Sombra inicial transparente */
        transition: all 0.3s ease-in-out;
    }

    .elemento-con-sombra:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 10px rgb(0, 0, 0); /* Sombra que aparece al hacer hover */
    }
</style>
