<a href="/ficha" id="news" class="box">
	<div class="me">
		<h2>Contactame</h2>
		<svg
			class="contact"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="size-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
			></path>
		</svg>
	</div>
	<p>
		Si estas interesado en Realizar un Proyecto en Colaboración con Zac
		Universe
	</p>
</a>

<style>
	.me {
		display: flex;
		align-items: center;
		color: black;
	}
	.contact {
		width: 50px;
		height: 50px;
	}
	.box {
		padding: 15px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
		transform: scale(1);
		transition: transform 0.3s ease-in-out;
	}

	#news:hover {
		transform: scale(1.05);
		background: rgba(255, 255, 255, 0.55);
	}
</style>
