<section>
    <div class="bg-[#2C4352] bg-cover bg-center h-screen relative z-0">
        <div
            class="bg-[url('./img/bg/bg-111.png')] w-full h-screen bg-cover bg-center relative z-0 animate-fadeIn"
            data-aos="fade-up"
            data-aos-duration="2000"
        >
            <div class="flex"></div>
        </div>
    </div>
</section>
