---
import { ClientRouter } from "astro:transitions";
import MenuG from "../components/gems/MenuG.astro";
import FooterG from "../components/gems/FooterG.astro";
import React, { Component } from "react";
import ParticlesBg from "particles-bg";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Portafolio JIVM</title>
        <ClientRouter transition:animate="slide" />
    </head>
    <body>
        <ParticlesBg client:only="react" type="circle" bg={true} />
        <MenuG />
        <slot />
        <FooterG />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
    }
</style>
