<div class="p-5">
    <p class="text-3xl font-bold font-mono text-white">
        Más Detalles del Proyecto
    </p>
    <div class="flex items-center m-1 p-1 w-fit h-fit">
        <div class="gird items-center m-1 p-1 rounded-2xl w-fit h-fit">
            <p>Detalles Tecnicos del Proyecto</p>
            <video
                src="/video/appmedik.mp4"
                class="w-[90%] h-[90%] rounded-2xl block mx-auto"
                loop
                muted
                autoplay
            >
            </video>
        </div>
        <div class="gird items-center m-1 p-1 rounded-2xl w-fit h-fit">
            <p>Proyecto en Uso</p>
            <video
                src="/video/Video APP.mp4"
                class="w-[90%] h-[90%] rounded-2xl block mx-auto"
                loop
                muted
                autoplay
            >
            </video>
        </div>
    </div>
</div>
