---
import ContenidoProyectos from "./ContenidoProyectos.astro";
---

<section>
    <div class="bg-[#0B2333] bg-cover bg-center h-screen relative z-0">
        <div
            class="bg-[url('./img/bg/bg-111.png')] w-full h-screen bg-cover bg-center relative z-0 animate-fadeIn"
            data-aos="fade-up"
            data-aos-duration="2000"
        >
            <div class="w-fit">
                <div
                    class="flex px-2 text-white text-5xl font-sans font-extrabold"
                >
                    <p class="px-1.5">MI</p>
                    <p class="px-1.5">TRAYECTORIA</p>
                    <p class="px-1.5">DE</p>
                    <p class="px-1.5">TRABAJO</p>
                </div>
                <div class="text-white w-fit">
                    <p>
                        Como referencia a mi trabajo como desarrollador
                        multiplataforma, tengo proyectos en desarrollo web,
                        movil y de escritorio
                    </p>
                    <p>
                        En diferentes entornos de trabajo, he desarrollado
                        diferentes prototipos de dispositivos IoT etc.
                    </p>
                </div>
            </div>
            <ContenidoProyectos />
        </div>
    </div>
</section>
